*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("/img/fondo_blanco.jpg");
    background-size: cover;
    
}

#titulo{
    color:#000;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    font-family:sans-serif;
    background: none;
    border: none;
    cursor: pointer;
}

#titulo:active{
    transform: scale(0.95);
}

p{
    display: inline-block;
    color: #000;
    font-size: 20px;
}

.botones{
    text-align: center;
    padding: 40px;
    margin: 10px;
}

.botones:active{
    transform: scale(0.95);
}


#verde{
    border-top-left-radius: 200px;
    background-color: green;
    border: none;
    cursor: pointer;
}

#rojo{
    border-top-right-radius: 200px;
    background-color: red;
    border: none;
    cursor: pointer;
}

#amarillo{
    border-bottom-left-radius: 200px;
    background-color: yellow;
    border: none;
    cursor: pointer;
}

#azul{
    border-bottom-right-radius: 200px;
    background-color: blue;
    border: none;
    cursor: pointer;
}

#start{
    padding: 20px;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #F09F3C;
    border: 1px solid #fff;
}

#start:active{
    transform: scale(0.95);
}

#contenedor{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: black;
    padding: 10px;
    border-radius: 200px;
    border: 1px solid #fff;
}